server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: task-service
          uri: http://${TASK_SERVICE_HOST:task-service}:${TASK_SERVICE_PORT:8081}
          predicates:
            - Path=/api/tasks/**
        - id: user-service
          uri: http://${USER_SERVICE_HOST:user-service}:${USER_SERVICE_PORT:8082}
          predicates:
            - Path=/api/users/**

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

logging:
  level:
    org.springframework.cloud.gateway: INFO
